.landing-main {
    background: url(../../../public/images/header-banner.webp) no-repeat center;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.landing-main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: -1;
}

.img-logo {
    width: 140px;
}

.btn_view {
    background-color: #DD5903 !important;

}

.btn_explore {
    color: #DD5903 !important;
    border: 1px solid #DD5903 !important;
}