.product-detail-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  color: #324d67;
  background: rgb(250, 250, 251);
}
.image-container {
  padding: 1rem;
  background-color: #fff !important;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 4px;
    box-shadow: inherit;
    margin: 1rem;
}

.product-detail-image {
  background-color: #ebebeb;
  width: 750px;
  height: 600px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-detail-image:hover {
  background-color: #f02d34;
}

.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.service_owner{
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.srv_name{
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}

.product-detail-desc {
  background-color: #fff !important;
  border: 1px solid rgb(230, 235, 241);
  border-radius: 4px;
  box-shadow: inherit;
  padding: 1rem 1rem 3rem 1rem;
  height: 100%;
  margin: 1rem;
}

.product-detail-desc h4 {
  margin-top: 10px;
}
.product-detail-desc p {
  margin-top: 10px;
}
.reviews p {
  color: #324d67;
  margin-top: 0px;
}
.srv_menu{
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #324d67;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #324d67;
}
.product-detail-desc .price label{
  color: #f02d34;
}
.buttons_tog .add-to-cart {
  background: orange;
  color: #fff;
  border: 2px solid orange;
  position: relative;
  overflow: hidden;
  padding: 20px 33px;
  line-height: 10px;
  max-width: max-content;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: 0.3s;
  display: block;
  min-width: max-content;
}
.buttons_tog .add-to-cart:hover {
  background: none;
  border: 1px solid #e2e2e2;
  color: #040404;
}
.menuOpt {
  color: #040404;
  font-style: italic;
}
.menu-icon {
  padding-right: 0.5rem;
  color: orangered;
}

.buttons_tog {
  display: flex;
  gap: 1rem;
}

.viewBtn {
  text-decoration: none;
}

/* 
Commentd */

.small-images-container {
  background-color: #fff !important;
  border: 1px solid rgb(230, 235, 241);
  border-radius: 4px;
  box-shadow: inherit;
  margin: 1rem;
}

.comment-container {
}

.textarea-field {
  height: 5rem !important;
}

.comment_form {
  display: flex;

  flex-direction: column;
  gap: 1rem;
}

.comList_main {
  display: flex;

  padding: 1rem;
  gap: 1rem;
  border: 1px solid rgb(230, 235, 241);
  border-radius: 4px;
  box-shadow: inherit;
  background-color: rgb(250, 250, 251);
}

.cm_item2 {

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn_comment {
  background: rgb(22, 119, 255) !important;
  color: #fff !important;
}

.star-rating {
  display: inline-block;
}

.star-icon {
  color: rgb(250, 175, 0);      
  cursor: pointer;       
  font-size: 1.5rem;     
  margin-right: 4px;    
}


.star-icon:hover {
  color: gold;          
}

.call_bck{
  font-size: 1.5rem !important;
  font-weight: 800 !important;
  text-decoration: underline;
  margin-top:"1rem"
}