.pro_container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.top_head {
    color: rgb(38, 38, 38);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    position: relative;
    border: none rgb(230, 235, 241);
    border-radius: 4px;
    box-shadow: inherit;
    background-color: rgb(230, 244, 255);
    padding: 2rem;
    margin: 2% 0;
}

.pro_head {
    font-size: 0.75rem !important;
    line-height: 1.66;
    font-family: "Public Sans", sans-serif;
    font-weight: 400 !important;
    color: rgb(140, 140, 140) !important;
}

.contain_btn {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(22, 119, 255) !important;
    box-shadow: none !important;
    font-weight: 400 !important;
    padding: 0.7rem !important;
}

.box_container {
    color: rgb(38, 38, 38);
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    background: rgb(230, 235, 241);
    min-height: 80vh;
    border-top: 1px solid rgb(230, 235, 241);
    border-bottom: 1px solid rgb(230, 235, 241);
    border-left: 1px solid rgb(230, 235, 241);
}